@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* print.css */
@media print {
    body * {
        visibility: hidden;
    }

    table,
    table * {
        visibility: visible;
    }

    table {
        position: absolute;
        left: 0;
        top: 0;
        width: 468.66141732px;
        /* Set the width */
        height: 359.05511811px;
        /* Set the height */
        overflow: hidden;
        /* Ensure content does not overflow */
        border-collapse: collapse;
        /* Collapse borders for printing */
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}
